.cardContainer{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display:grid;
    grid-template-columns: auto auto auto;
    gap:.5rem;

    div{
        width: 12rem;
        background-color: rgb(65, 64, 64);
        text-align: center;
        padding: .5rem;
    }

    .delete{
        background-color: rgb(236, 101, 101);
        font-size: 1.2rem;
        border: none;
        cursor: pointer;
        color: white;
    }

    .edit{
        background-color: rgb(101, 236, 229);
        font-size: 1.2rem;
        border: none;
        cursor: pointer;
        margin-left: .3rem;
    }
}